<nav role="navigation" aria-label="Main navigation" class="h-full flex flex-col">
  <div class="flex justify-end p-2">
    <button
      (click)="toggleCollapse()"
      class="text-app text-app-hover rounded p-1 trans-c-200 wcag-outline"
      aria-controls="sider-nav"
      [attr.aria-expanded]="!isCollapsed()"
    >
      <nz-icon nzType="left" nzTheme="outline" class="text-xl" />
      <span class="sr-only">Toggle navigation</span>
    </button>
  </div>

  <ul id="sider-nav" class="py-5 flex-1" [attr.aria-hidden]="isCollapsed()">
    <li>
      <a
        class="app-link app-link-bg-hover text-lg cursor-pointer block rounded px-2 py-1 focus:ring-2 wcag-outline"
        routerLink="translate"
        [attr.title]="isCollapsed() ? 'Translate' : null"
        aria-label="Translate"
        [attr.tabindex]="isCollapsed() ? -1 : null"
      >
        <span>Translate</span>
      </a>
    </li>
    <li>
      <a
        class="app-link app-link-bg-hover text-lg cursor-pointer block rounded px-2 py-1 focus:ring-2 wcag-outline"
        routerLink="translate"
        [attr.title]="isCollapsed() ? 'Translate' : null"
        aria-label="Translate"
        [attr.tabindex]="isCollapsed() ? -1 : null"
      >
        <span>VS</span>
      </a>
    </li>
  </ul>
  <ul class="mb-3 p-2 border-t border-dove-gray-200 text-app flex justify-end wcag-outline">
    <li>
      <button class="cursor-pointer flex gap-2 p-0.5" type="button" (click)="logout()">
        <nz-icon class="text-lg" nzType="logout" nzTheme="outline" />
        <span>Logout</span>
      </button>
    </li>
  </ul>
</nav>
