<section>
  <form class="flex flex-col gap-4 w-80">
    <label class="flex flex-col gap-1 text-app">
      Email
      <input nz-input type="email" placeholder="Enter your email" class="w-full" required />
    </label>
    <label class="flex flex-col gap-1 text-app">
      Password
      <input nz-input type="password" placeholder="Enter your password" class="w-full" required />
    </label>
    <button
      type="submit"
      class="bg-blue-600 text-white py-2 px-4 rounded hover:bg-blue-700 wcag-outline"
    >
      Login
    </button>
  </form>
</section>
